stages:
  - build
  - test
  - deploy

variables:
  GRADLE_OPTS: "-Dorg.gradle.daemon=false"

build:
  stage: build
  image: gradle:7.3-jdk11  # Use an image with Gradle and JDK installed
  script:
    - echo "JAVA_HOME is set to $JAVA_HOME"
    - cd unlimitedmarketplace
    - ./gradlew build -x test  # Run the Gradle build command, note ./ for Linux paths

  artifacts:
    paths:
      - build/libs/
    expire_in: 1 hour

test:
  stage: test
  image: gradle:7.3-jdk11
  script:
    - ./gradlew test  # Run the tests, use ./ for Linux paths

deploy_staging:
  stage: deploy
  image: alpine:latest  # This might require a different image based on what you're deploying
  script:
    - echo "Deploying to staging server..."
    # Your deployment scripts here
  environment:
    name: staging
    url: http://staging.example.com
  only:
    - main
