stages:
  - build
  - test
  - deploy

variables:
  GRADLE_OPTS: "-Dorg.gradle.daemon=false"

build:
  stage: build
  image: openjdk:11  # Use an image with JDK installed
  variables:
    JAVA_HOME: "/docker-java-home"  # This is often the Java home in official JDK Docker images
  script:
    - cd unlimitedmarketplace  # Change directory to where gradlew.bat is located
    - .\gradlew.bat build -x test  # Run the Gradle build command

  artifacts:
    paths:
      - build/libs/
    expire_in: 1 hour


  artifacts:
    paths:
      - build/libs/
    expire_in: 1 hour

test:
  stage: test
  image: gradle:7.3-jdk11
  script:
    - ./gradlew test  # Run the tests, use ./ for Linux paths

deploy_staging:
  stage: deploy
  image: alpine:latest  # This might require a different image based on what you're deploying
  script:
    - echo "Deploying to staging server..."
    # Your deployment scripts here
  environment:
    name: staging
    url: http://staging.example.com
  only:
    - main
