stages:
  - build_and_test
  - docker_build

variables:
  SONAR_HOST_URL: "http://localhost:9000"
  SONAR_LOGIN: "sqp_5b08838331b3c75e02deb42791f8c40d7081f695"

build_and_test:
  stage: build_and_test
  script:
    - '"C:\\Gradle\\gradle-8.7\\bin\\gradle" clean build'
    - '"C:\\Gradle\\gradle-8.7\\bin\\gradle" test'
    - '"C:\\Gradle\\gradle-8.7\\bin\\gradle" sonarqube -Dsonar.projectKey=ProjectKey -Dsonar.host.url=$SONAR_HOST_URL -Dsonar.login=$SONAR_LOGIN'

docker_build:
  stage: docker_build
  tags:
    - docker  # Ensure this matches your Docker runner's tag
  image: docker:19.03.12
  services:
    - name: docker:19.03.12-dind
  before_script:
    - docker info
  script:
    - docker build -t unlimitedmarketplace_backend:latest .
