stages:
  - build_and_test
  - docker_build
  - deploy

variables:
  SONAR_HOST_URL: "http://192.168.0.181:9000"
  SONAR_PROJECT_KEY: "unlimitedmarketplace_sonar"
  DOCKER_TLS_CERTDIR: ""
  DOCKER_HOST: "tcp://docker:2375"
  PROJECT_ID: unlimitedmarketplace
  REGION: us-central1
  GCLOUD_SERVICE_KEY: $GCLOUD_SERVICE_KEY

services:
  - docker:dind

build_and_test:
  stage: build_and_test
  image: gradle:latest
  script:
    - cd unlimitedmarketplace-V2/unlimitedmarketplace
    - gradle clean build
    - gradle test
    - gradle sonar -Dsonar.projectKey=$SONAR_PROJECT_KEY -Dsonar.host.url=$SONAR_HOST_URL -Dsonar.login=$SONAR_LOGIN
  tags:
    - docker

docker_build:
  stage: docker_build
  image: google/cloud-sdk:latest
  before_script:
    - echo $GCLOUD_SERVICE_KEY | base64 -d > ${HOME}/gcloud-service-key.json
    - gcloud auth activate-service-account --key-file ${HOME}/gcloud-service-key.json
    - gcloud config set project $PROJECT_ID
    - gcloud services enable artifactregistry.googleapis.com
    - gcloud auth configure-docker
    - pwd
    - ls -lah
    - cd unlimitedmarketplace-V2/unlimitedmarketplace
    - pwd
    - ls -lah
  script:
    - docker build -t gcr.io/$PROJECT_ID/my-application:latest -f Dockerfile .
    - docker push gcr.io/$PROJECT_ID/my-application:latest
  tags:
    - docker

deploy:
  stage: deploy
  image: google/cloud-sdk:latest
  script:
    - gcloud run deploy unlimitedmarketplace-backend --image gcr.io/$PROJECT_ID/my-application:latest --region $REGION --platform managed --allow-unauthenticated
  environment:
    name: production
    url: https://unlimitedmarketplace-backend.$REGION.run.app
  tags:
    - docker




