stages:
  - build_and_test
  - docker_build
  - deploy

variables:
  SONAR_HOST_URL: "http://192.168.0.181:9000"
  SONAR_PROJECT_KEY: "unlimitedmarketplace_sonar"
  DOCKER_TLS_CERTDIR: ""
  DOCKER_HOST: "tcp://docker:2375"
  PROJECT_ID: unlimitedmarketplace
  REGION: europe-north1
  GCLOUD_SERVICE_KEY: $GCLOUD_SERVICE_KEY

services:
  - docker:dind

build_and_test:
  stage: build_and_test
  image: gradle:latest
  script:
    - cd unlimitedmarketplace-V2/unlimitedmarketplace
    - gradle clean build
    - gradle test
    - gradle sonar -Dsonar.projectKey=$SONAR_PROJECT_KEY -Dsonar.host.url=$SONAR_HOST_URL -Dsonar.login=$SONAR_LOGIN
  tags:
    - docker

docker_build:
  stage: docker_build
  image: google/cloud-sdk:latest
  before_script:
    - echo $GCLOUD_SERVICE_KEY | base64 -d > ${HOME}/gcloud-service-key.json
    - gcloud auth activate-service-account --key-file ${HOME}/gcloud-service-key.json
    - gcloud config set project $PROJECT_ID
    - gcloud services enable artifactregistry.googleapis.com
    - gcloud auth configure-docker
    - cd unlimitedmarketplace-V2/unlimitedmarketplace
  script:
    - docker build -t gcr.io/$PROJECT_ID/unlimitedmarketplace:latest -f Dockerfile .
    - docker push gcr.io/$PROJECT_ID/unlimitedmarketplace:latest
  tags:
    - docker

deploy:
  stage: deploy
  image: google/cloud-sdk:latest
  before_script:
    - echo $GCLOUD_SERVICE_KEY | base64 -d > ${HOME}/gcloud-service-key.json
    - gcloud auth activate-service-account --key-file ${HOME}/gcloud-service-key.json
    - gcloud config set project $PROJECT_ID
    - gcloud services enable run.googleapis.com
  script:
    - gcloud run deploy unlimitedmarketplace-backend --image gcr.io/$PROJECT_ID/unlimitedmarketplace:latest --region $REGION --platform managed --allow-unauthenticated --update-env-vars "SPRING_DATASOURCE_URL=jdbc:mysql://unlimitedmarketplacedb.cvkauiwso2wc.eu-north-1.rds.amazonaws.com:3306/unlimitedmarketplace?useSSL=false&allowPublicKeyRetrieval=true,SPRING_DATASOURCE_USERNAME=root,SPRING_DATASOURCE_PASSWORD=Dante1312,SPRING_JPA_HIBERNATE_DDL_AUTO=update,SPRING_JPA_SHOW_SQL=true,SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT=org.hibernate.dialect.MySQLDialect,SPRING_SECURITY_USER_NAME=user,SPRING_SECURITY_USER_PASSWORD=\$2a\$12\$m3c2pg8r9HxOnWvTv/mzZOlB197OrG0cdk6qoYO48PrseY1kCBB7C,JWT_SECRET=VGhpcyBpcyBhbiBleGFtcGxlIGJhc2U2NC1lbmNvZGVkIHNlY3JldCBrZXku,JWT_EXPIRATION=60"
  environment:
    name: production
    url: https://unlimitedmarketplace-backend.$REGION.run.app
  tags:
    - docker






