stages:
  - build
  - test
  - dockerize
  - deploy

variables:
  DOCKER_IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG

build:
  stage: build
  script:
    - .\gradlew.bat build -x test
  artifacts:
    paths:
      - build/libs/
    expire_in: 1 hour

test:
  stage: test
  image: gradle:7.3-jdk11
  script:
    - gradle test  # Run the tests

dockerize:
  stage: dockerize
  image: docker:19.03.12
  services:
    - docker:19.03.12-dind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_JOB_TOKEN $CI_REGISTRY
    - docker build -t $DOCKER_IMAGE_NAME .
    - docker push $DOCKER_IMAGE_NAME
  only:
    - main

deploy_staging:
  stage: deploy
  image: unlimitedmarketplace_backend
  script:
    - export JAVA_HOME="/c/Users/acidburn/.jdks/corretto-19.0.2"  # Set the JAVA_HOME variable
    - echo "Deploying to staging server..."
    # Your deployment script goes here
  environment:
    name: staging
    url: http://staging.example.com
  only:
    - main
